<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--  <link rel="stylesheet" href="{{url_for('static' , filename='img/login2.jpg')}}">-->

    </style>
    <link rel="stylesheet" href="{{url_for('static' , filename='CSS/login.css')}}">
</head>
<body  background="static/img/login3.jpg" style="background-repeat:no-repeat ; background-size:100% 100%">
</b></br></br></br></br>
 <div align="center"></div>
          <div align="center" class="border">
               <div class="error"></div>
                   <div class="header">
                      <h1 class="word">Welcome</h1>
                   </div></br></br></br>
              <h1> Login Successfully</h1> </br></br></br></br></br>
                       <p class="bottom">Thanku for visiting</p></br></br>
<a href="{{url_for('logout')}}"><h1>logout</h1></a></br></br></br>
          </div>
</div>
</body>
</html>